<% provide :title, "ホーム" %>

<div class="wrapper wrapper__bg">
	 	<div class="container">
	    <h1>すべてのスレッド</h1>
      <% if user_signed_in? %>
	   	  <%= link_to "投稿する", new_post_path %>
      <% end %>
	   	<hr>
	      <div class="panel">
	     	<% @posts.each do |post| %>
	     	  <%= link_to post.title, post_path(post) %><br />
	     	<% end %>
        <%= paginate @posts %>
	    </div>
	  </div>
	</div>
</div>
