<% provide :title, "投稿一覧" %>

<div class="wrapper wrapper__bg">
	 	<div class="container">
	    <h1 class="form-title mb-4 text-center">すべてのスレッド</h1>
	    <div class="panel">
	     	<% @posts.each do |post| %>
	     	  <%= link_to post.title, post_path(post) %><br />
	     	<% end %>
        <%= paginate @posts %>
	    </div>
	  </div>
	</div>
</div>
