@import "bootstrap-sprockets";
@import "bootstrap";

/* 定義等 */
/* ======================= */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$color-black: #212529;

/* 汎用 */
/* ======================= */
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

ul, ol {
  list-style: none;
}

/* 文字活字 */
/* ======================= */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h4 {
  font-size: 1.0em;
  color: #ff0000;
  padding-right: 5px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.form-title {
  font-weight: 700;
  font-size: 2.7rem;
}

/* ヘッダーメニュー */
/* ======================= */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* ボディ */
/* ======================= */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* フッター */
/* ======================= */
footer {
  background: #f6f5f4;
  padding-top: 30px;
  text-align: center;
  height: 80px;
  color: #777;
  width: 100%;
  position: fixed;
  bottom: 0;
}
ul.footer li {
display: inline;
padding: 10px;
}

/* デバッグ */
/* ======================= */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* header */
/* ======================= */
header#header-nav {
  background: #FFFFFF;
}
.ib-box{
  display: flex;
}

/* search */
/* ======================= */
.search {
  padding: 0 3rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 60rem;
  padding-top: 15px;
  padding-left: 180px;
}
.searchfield {
  height: 3.2rem;
  width: 90%;
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
  border: solid 0.1rem #eae7e2;
  background-color: #fbfbfb;
  font-size: 1.4rem;
  box-sizing: border-box;
}
button#searchbtn {
  border-radius: 5px;
}

/* フォーム */
/* ======================= */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 60%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* ラジオボタン(remember me) */
/* NOTICE:bootstrapをオーバーライド */
/* ======================= */
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: 0px;
}

/* devise */
/* ======================= */
.custom-form {
  h3 {
    font-size:15px;
    width:107px;
    padding:10px 0px 11px 18px;
    background-color:#bfbfbf;
    color:#ffffff;
    border-radius:3px;
  }
  padding: 10px 15px 0 15px;
  border-radius: 10px 10px 10px 10px;
  
  .container {
    max-width: 440px;
  }

  .form-title {
    font-weight: 700;
    font-size: 2.7rem;
  }

  label {
    font-weight: 700;
    margin-bottom: 0rem;
  }

  .form-control {
    color: $color-black;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-black;
    border-radius: 0;
    box-shadow: none;
    &:focus {
      color: $color-black;
      outline: 0;
      box-shadow: none;
    }
  }
  #profile_age {
    width: 110px;
  }
  #profile_address{
    width: 110px;
  }
  #profile_floor_width {
    width: 225px;
  }
  #profile_name {
    width: 225px;
  }

  .input-group-text {
    padding: 0.375rem 0.15rem 0.375rem 0.75rem;
    color: rgba(33,37,41,0.5);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-black;
    border-radius: 0;
  }

  .input-group-prepend + .form-control {
    padding: 0.375rem 0.125rem;
  }

  .input-group-prepend + .field_with_errors {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }

  .form-control.with-ig {
    padding: 0.375rem 0.125rem;
  }

  .forgot-password {
    font-size: 0.9rem;
  }

  p.note {
    font-size: 0.8rem;
  }

  .submit-btn {
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid $color-black;
  }

  .image-submit-btn {
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }

  .upload-avatar-btn {
    height: 35px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 0.875rem;
  }

  .btn.disabled, .btn:disabled {
    opacity: 0.3;
  }

  textarea.form-control {
    height: 160px;
  }
  .pull-left {
    float: left !important;
  }
}
.edit-profile-link {
  padding-bottom: 20px;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  max-width: min-content;
}
.wrapper__bg{
  .container {
    max-width: 440px;
  }
}
.edit-profile-form {
  padding-bottom: 80px;
}

/* notice,alert */
/* ======================= */
p.notice {
  text-align-last: center;
}
p.alert {
  text-align-last: center;
}
